<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.MobileAsset.VoiceServices.VoiceResources</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6</string>
	<key>CFBundleName</key>
	<string>VoiceServicesVoiceResources_en-US</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>MobileAssetProperties</key>
	<dict>
		<key>Languages</key>
		<array>
			<string>en-US</string>
		</array>
		<key>_CompatibilityVersion</key>
		<integer>8</integer>
		<key>_ContentVersion</key>
		<integer>215</integer>
		<key>__RequiredByOS</key>
		<true/>
	</dict>
</dict>
</plist>
