<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.ABDatabaseDoctor</key>
	<true/>
	<key>com.apple.AXInspector</key>
	<true/>
	<key>com.apple.AppSSODaemon</key>
	<true/>
	<key>com.apple.AssetCacheLocatorService</key>
	<true/>
	<key>com.apple.BarcodeSupport.BarcodeNotificationService</key>
	<true/>
	<key>com.apple.CarPlayApp</key>
	<true/>
	<key>com.apple.CloudPhotoDerivativeGenerator</key>
	<true/>
	<key>com.apple.CoreAuthentication.daemon</key>
	<true/>
	<key>com.apple.CoreSimulator.IndigoFramebufferBridge</key>
	<false/>
	<key>com.apple.CoreSimulator.bridge</key>
	<false/>
	<key>com.apple.DataDetectorsSourceAccess</key>
	<true/>
	<key>com.apple.DragUI.druid</key>
	<true/>
	<key>com.apple.EscrowSecurityAlert</key>
	<true/>
	<key>com.apple.FileCoordination</key>
	<true/>
	<key>com.apple.FileProvider</key>
	<true/>
	<key>com.apple.GSSCred</key>
	<true/>
	<key>com.apple.GameController.gamecontrollerd</key>
	<true/>
	<key>com.apple.IMLoggingAgent</key>
	<true/>
	<key>com.apple.Maps.geocorrectiond</key>
	<true/>
	<key>com.apple.Maps.mapspushd</key>
	<true/>
	<key>com.apple.MobileInstallationHelperService</key>
	<true/>
	<key>com.apple.OTAPKIAssetTool</key>
	<true/>
	<key>com.apple.Safari.SafeBrowsing.Service</key>
	<true/>
	<key>com.apple.SafariBookmarksSyncAgent</key>
	<true/>
	<key>com.apple.SafariCloudHistoryPushAgent</key>
	<true/>
	<key>com.apple.ScreenTimeAgent</key>
	<true/>
	<key>com.apple.SecureBackupDaemon</key>
	<true/>
	<key>com.apple.SimulatorBridge</key>
	<true/>
	<key>com.apple.SpringBoard</key>
	<true/>
	<key>com.apple.TextInput.kbd</key>
	<true/>
	<key>com.apple.UIKit.pasteboardd</key>
	<true/>
	<key>com.apple.UsageTrackingAgent</key>
	<true/>
	<key>com.apple.UserEventAgent-System</key>
	<true/>
	<key>com.apple.VideoSubscriberAccount.Bulletind</key>
	<true/>
	<key>com.apple.VoiceOverTouch</key>
	<true/>
	<key>com.apple.WebBookmarks.webbookmarksd</key>
	<true/>
	<key>com.apple.absd</key>
	<true/>
	<key>com.apple.accessibility.AccessibilityUIServer</key>
	<true/>
	<key>com.apple.accessibility.axAuditDaemon.deviceservice</key>
	<true/>
	<key>com.apple.accountsd</key>
	<true/>
	<key>com.apple.ait.aitd</key>
	<true/>
	<key>com.apple.akd</key>
	<true/>
	<key>com.apple.and</key>
	<true/>
	<key>com.apple.ap.adprivacyd</key>
	<true/>
	<key>com.apple.ap.adservicesd</key>
	<true/>
	<key>com.apple.ap.adtrackingd</key>
	<true/>
	<key>com.apple.appstored</key>
	<true/>
	<key>com.apple.appsupport.cplogd</key>
	<true/>
	<key>com.apple.aps.tcpdump.en0</key>
	<true/>
	<key>com.apple.aps.tcpdump.pdp_ip0</key>
	<true/>
	<key>com.apple.apsd</key>
	<true/>
	<key>com.apple.askpermissiond</key>
	<true/>
	<key>com.apple.aslmanager</key>
	<true/>
	<key>com.apple.assertiond</key>
	<false/>
	<key>com.apple.assetsd</key>
	<true/>
	<key>com.apple.assetsd.nebulad</key>
	<true/>
	<key>com.apple.assistant_cdmd</key>
	<true/>
	<key>com.apple.assistant_service</key>
	<true/>
	<key>com.apple.assistantd</key>
	<true/>
	<key>com.apple.audio.systemsoundserver-simd</key>
	<true/>
	<key>com.apple.avatarsd</key>
	<true/>
	<key>com.apple.backboardd</key>
	<false/>
	<key>com.apple.bhtool.xpc</key>
	<true/>
	<key>com.apple.bird</key>
	<true/>
	<key>com.apple.bookassetd</key>
	<true/>
	<key>com.apple.brtool.xpc</key>
	<true/>
	<key>com.apple.businesschatd</key>
	<true/>
	<key>com.apple.cache_delete</key>
	<true/>
	<key>com.apple.calaccessd</key>
	<true/>
	<key>com.apple.carkitd</key>
	<true/>
	<key>com.apple.cdpd</key>
	<true/>
	<key>com.apple.certui.relay</key>
	<true/>
	<key>com.apple.cfnetwork.cfnetworkagent</key>
	<true/>
	<key>com.apple.cfprefsd.xpc.daemon</key>
	<false/>
	<key>com.apple.ckdiscretionaryd</key>
	<true/>
	<key>com.apple.cloudd</key>
	<true/>
	<key>com.apple.cloudphotod</key>
	<true/>
	<key>com.apple.cmfsyncagent</key>
	<true/>
	<key>com.apple.companionappd</key>
	<true/>
	<key>com.apple.configd_sim</key>
	<true/>
	<key>com.apple.contactsd</key>
	<true/>
	<key>com.apple.containermanagerd</key>
	<true/>
	<key>com.apple.coredatad</key>
	<true/>
	<key>com.apple.coreduetd</key>
	<true/>
	<key>com.apple.coreservices.appleid.authentication</key>
	<true/>
	<key>com.apple.coreservices.appleid.passwordcheck</key>
	<true/>
	<key>com.apple.coreservices.useractivityd</key>
	<true/>
	<key>com.apple.corespeechd</key>
	<true/>
	<key>com.apple.corespotlightservice</key>
	<true/>
	<key>com.apple.coresymbolicationd</key>
	<true/>
	<key>com.apple.ctkd</key>
	<true/>
	<key>com.apple.dataaccess.dataaccessd</key>
	<true/>
	<key>com.apple.datamigrator</key>
	<true/>
	<key>com.apple.datastored</key>
	<true/>
	<key>com.apple.deleted_helper</key>
	<true/>
	<key>com.apple.devicecheckd</key>
	<true/>
	<key>com.apple.diagnosticd</key>
	<true/>
	<key>com.apple.diagnosticextensionsd</key>
	<true/>
	<key>com.apple.distnoted.xpc.daemon</key>
	<true/>
	<key>com.apple.dmd</key>
	<true/>
	<key>com.apple.dyld.closured</key>
	<true/>
	<key>com.apple.email.maild</key>
	<true/>
	<key>com.apple.exchangesyncd</key>
	<true/>
	<key>com.apple.familycircled</key>
	<true/>
	<key>com.apple.familynotification</key>
	<true/>
	<key>com.apple.fileprovider.fileproviderd</key>
	<true/>
	<key>com.apple.followupd</key>
	<true/>
	<key>com.apple.fontservicesd</key>
	<true/>
	<key>com.apple.gamed</key>
	<true/>
	<key>com.apple.geod</key>
	<true/>
	<key>com.apple.handwritingd</key>
	<true/>
	<key>com.apple.healthappd</key>
	<true/>
	<key>com.apple.healthd</key>
	<true/>
	<key>com.apple.homed</key>
	<true/>
	<key>com.apple.iad.limitadtrackingd</key>
	<true/>
	<key>com.apple.icloud.fmfd</key>
	<true/>
	<key>com.apple.iconservices.iconservicesagent</key>
	<true/>
	<key>com.apple.identityservicesd</key>
	<true/>
	<key>com.apple.ids.IDSCredentialsAgent</key>
	<true/>
	<key>com.apple.ids_simd</key>
	<true/>
	<key>com.apple.idsfoundation.IDSRemoteURLConnectionAgent</key>
	<true/>
	<key>com.apple.imagent</key>
	<true/>
	<key>com.apple.imautomatichistorydeletionagent</key>
	<true/>
	<key>com.apple.imavagent</key>
	<true/>
	<key>com.apple.imcore.imtransferagent</key>
	<true/>
	<key>com.apple.imdpersistence.IMDPersistenceAgent</key>
	<true/>
	<key>com.apple.imnotificationserviceagent</key>
	<true/>
	<key>com.apple.installcoordination_observer_test</key>
	<true/>
	<key>com.apple.installcoordinationd</key>
	<true/>
	<key>com.apple.instruments.deviceservice</key>
	<true/>
	<key>com.apple.internal.honeybeed.root</key>
	<true/>
	<key>com.apple.internal.pflsimulatord</key>
	<true/>
	<key>com.apple.internal.prototyped</key>
	<true/>
	<key>com.apple.internal.safaricyclerd</key>
	<true/>
	<key>com.apple.iokitsimd</key>
	<true/>
	<key>com.apple.itunesstored</key>
	<true/>
	<key>com.apple.localizationswitcherd</key>
	<true/>
	<key>com.apple.locationd</key>
	<true/>
	<key>com.apple.logd</key>
	<true/>
	<key>com.apple.logind</key>
	<true/>
	<key>com.apple.lsd</key>
	<true/>
	<key>com.apple.managedconfiguration.mdmd</key>
	<true/>
	<key>com.apple.managedconfiguration.profiled</key>
	<true/>
	<key>com.apple.managedconfiguration.teslad</key>
	<true/>
	<key>com.apple.mapinspectord</key>
	<true/>
	<key>com.apple.maps.destinationd</key>
	<true/>
	<key>com.apple.mdt</key>
	<true/>
	<key>com.apple.mediaartworkd</key>
	<true/>
	<key>com.apple.medialibraryd</key>
	<true/>
	<key>com.apple.mediaremoted</key>
	<true/>
	<key>com.apple.mediastream.mstreamd</key>
	<true/>
	<key>com.apple.midiserver.sim</key>
	<true/>
	<key>com.apple.migrationpluginwrapper</key>
	<true/>
	<key>com.apple.mlmodelingd</key>
	<true/>
	<key>com.apple.mobile.MCInstall</key>
	<true/>
	<key>com.apple.mobile.installd</key>
	<true/>
	<key>com.apple.mobileassetd</key>
	<true/>
	<key>com.apple.mobilegestalt.xpc</key>
	<false/>
	<key>com.apple.mobiletimerd</key>
	<true/>
	<key>com.apple.nanobackupd</key>
	<true/>
	<key>com.apple.nanoprefsyncd.2</key>
	<true/>
	<key>com.apple.nanoregistryd</key>
	<true/>
	<key>com.apple.nanoregistrylaunchd</key>
	<true/>
	<key>com.apple.nanotimekitcompaniond</key>
	<true/>
	<key>com.apple.navd</key>
	<true/>
	<key>com.apple.networkd</key>
	<true/>
	<key>com.apple.newsd</key>
	<true/>
	<key>com.apple.newspolicyd</key>
	<true/>
	<key>com.apple.newswidgetpolicyd</key>
	<true/>
	<key>com.apple.notifyd</key>
	<true/>
	<key>com.apple.nsurlsessiond</key>
	<true/>
	<key>com.apple.nsurlstoraged</key>
	<true/>
	<key>com.apple.ondemandd</key>
	<true/>
	<key>com.apple.parsec-fbf</key>
	<true/>
	<key>com.apple.parsecd</key>
	<true/>
	<key>com.apple.passd</key>
	<true/>
	<key>com.apple.pasteboard.pasted</key>
	<true/>
	<key>com.apple.personad</key>
	<true/>
	<key>com.apple.photoanalysisd</key>
	<true/>
	<key>com.apple.photos.ImageConversionService</key>
	<true/>
	<key>com.apple.photos.VideoConversionService</key>
	<true/>
	<key>com.apple.pluginkit.pkd</key>
	<true/>
	<key>com.apple.printd</key>
	<true/>
	<key>com.apple.proactiveeventtrackerd</key>
	<true/>
	<key>com.apple.progressd</key>
	<true/>
	<key>com.apple.protectedcloudstorage.protectedcloudkeysyncing</key>
	<true/>
	<key>com.apple.prototyped</key>
	<true/>
	<key>com.apple.purplebuddy.budd</key>
	<true/>
	<key>com.apple.quicklook.ThumbnailsAgent</key>
	<true/>
	<key>com.apple.rapportd</key>
	<true/>
	<key>com.apple.recentsd</key>
	<true/>
	<key>com.apple.record</key>
	<true/>
	<key>com.apple.remindd</key>
	<true/>
	<key>com.apple.remotemanagementd</key>
	<true/>
	<key>com.apple.reversetemplated</key>
	<true/>
	<key>com.apple.revisiond</key>
	<true/>
	<key>com.apple.routined</key>
	<true/>
	<key>com.apple.rtcreportingd</key>
	<true/>
	<key>com.apple.runningboardd</key>
	<true/>
	<key>com.apple.safarifetcherd</key>
	<true/>
	<key>com.apple.scrod</key>
	<true/>
	<key>com.apple.searchd</key>
	<true/>
	<key>com.apple.security.CircleJoinRequested</key>
	<true/>
	<key>com.apple.security.cloudkeychainproxy3</key>
	<true/>
	<key>com.apple.security.idskeychainsyncingproxy</key>
	<true/>
	<key>com.apple.security.keychainsyncingoveridsproxy</key>
	<true/>
	<key>com.apple.security.otpaird</key>
	<true/>
	<key>com.apple.security.swcagent</key>
	<true/>
	<key>com.apple.securityd</key>
	<true/>
	<key>com.apple.securityuploadd</key>
	<true/>
	<key>com.apple.setmme</key>
	<true/>
	<key>com.apple.sharingd</key>
	<true/>
	<key>com.apple.sharingd.nsxpc</key>
	<true/>
	<key>com.apple.siri.acousticsignature</key>
	<true/>
	<key>com.apple.siriactionsd</key>
	<true/>
	<key>com.apple.sosd</key>
	<true/>
	<key>com.apple.splashboard</key>
	<true/>
	<key>com.apple.spotlightd</key>
	<true/>
	<key>com.apple.storebookkeeperd</key>
	<true/>
	<key>com.apple.suggestd</key>
	<true/>
	<key>com.apple.swcd</key>
	<true/>
	<key>com.apple.syncdefaultsd</key>
	<true/>
	<key>com.apple.syslogd</key>
	<true/>
	<key>com.apple.tccd</key>
	<true/>
	<key>com.apple.telephonyutilities.callservicesd</key>
	<true/>
	<key>com.apple.telephonyutilitiesA.callservicesd</key>
	<true/>
	<key>com.apple.testmanagerd</key>
	<true/>
	<key>com.apple.touchsetupd</key>
	<true/>
	<key>com.apple.transparencyd</key>
	<true/>
	<key>com.apple.trustd</key>
	<true/>
	<key>com.apple.tvcontrold</key>
	<true/>
	<key>com.apple.tzlinkd</key>
	<true/>
	<key>com.apple.videosubscriptionsd</key>
	<true/>
	<key>com.apple.voiced</key>
	<true/>
	<key>com.apple.voicememod</key>
	<true/>
	<key>com.apple.watchlistd</key>
	<true/>
	<key>com.apple.wcd</key>
	<true/>
	<key>com.apple.webinspectord</key>
	<true/>
</dict>
</plist>
