<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_voices</key>
	<dict>
		<key>default</key>
		<dict>
			<key>Footprint</key>
			<string>premium</string>
			<key>Gender</key>
			<string>female</string>
			<key>Type</key>
			<string>gryphon</string>
		</dict>
		<key>legacy</key>
		<dict>
			<key>Footprint</key>
			<string>premium</string>
			<key>Gender</key>
			<string>female</string>
			<key>Type</key>
			<string>custom</string>
		</dict>
		<key>premiumhigh</key>
		<dict>
			<key>Footprint</key>
			<string>premiumhigh</string>
			<key>Gender</key>
			<string>female</string>
			<key>Type</key>
			<string>gryphon</string>
		</dict>
	</dict>
	<key>server_voices</key>
	<array>
		<dict>
			<key>Gender</key>
			<string>female</string>
			<key>Name</key>
			<string>nora</string>
		</dict>
		<dict>
			<key>Gender</key>
			<string>male</string>
			<key>Name</key>
			<string>aaron</string>
		</dict>
	</array>
	<key>vocalizer_resource_order</key>
	<array>
		<string>vocalizer-user-dict.dat</string>
		<string>vocalizer-user-rules.txt</string>
		<string>domain-rules-sms.txt</string>
		<string>domain-rules-music.txt</string>
		<string>domain-rules-address.txt</string>
		<string>vocalizer-override-rules.txt</string>
	</array>
	<key>vocalizer_resources</key>
	<dict>
		<key>domain-rules-address.txt</key>
		<string>application/x-vocalizer-rettt+text</string>
		<key>domain-rules-music.txt</key>
		<string>application/x-vocalizer-rettt+text</string>
		<key>domain-rules-sms.txt</key>
		<string>application/x-vocalizer-rettt+text</string>
		<key>vocalizer-override-rules.txt</key>
		<string>application/x-vocalizer-rettt+text</string>
		<key>vocalizer-user-dict.dat</key>
		<string>application/edct-bin-dictionary</string>
		<key>vocalizer-user-rules.txt</key>
		<string>application/x-vocalizer-rettt+text</string>
	</dict>
</dict>
</plist>
